<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.person.ua.dao.mapper.TOrderExpressMapper">

    <resultMap id="BaseResultMap" type="com.person.ua.dao.entity.TOrderExpress">
            <result property="tenantCode" column="TENANT_CODE" jdbcType="VARCHAR"/>
            <result property="domainCode" column="DOMAIN_CODE" jdbcType="VARCHAR"/>
            <result property="channelCode" column="CHANNEL_CODE" jdbcType="VARCHAR"/>
            <result property="orgCode" column="ORG_CODE" jdbcType="VARCHAR"/>
            <result property="orderExpressCode" column="ORDER_EXPRESS_CODE" jdbcType="VARCHAR"/>
            <result property="expressCode" column="EXPRESS_CODE" jdbcType="VARCHAR"/>
            <result property="orderCode" column="ORDER_CODE" jdbcType="VARCHAR"/>
            <result property="externalOrderCode" column="EXTERNAL_ORDER_CODE" jdbcType="VARCHAR"/>
            <result property="subOrderCode" column="SUB_ORDER_CODE" jdbcType="VARCHAR"/>
            <result property="expressStatus" column="EXPRESS_STATUS" jdbcType="CHAR"/>
            <result property="companyCode" column="COMPANY_CODE" jdbcType="VARCHAR"/>
            <result property="companyName" column="COMPANY_NAME" jdbcType="VARCHAR"/>
            <result property="sendTime" column="SEND_TIME" jdbcType="TIMESTAMP"/>
            <result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
            <result property="userCode" column="USER_CODE" jdbcType="VARCHAR"/>
            <result property="length" column="LENGTH" jdbcType="DECIMAL"/>
            <result property="width" column="WIDTH" jdbcType="DECIMAL"/>
            <result property="height" column="HEIGHT" jdbcType="DECIMAL"/>
            <result property="weight" column="WEIGHT" jdbcType="DECIMAL"/>
            <result property="volume" column="VOLUME" jdbcType="DECIMAL"/>
            <result property="deliveryFailReason" column="DELIVERY_FAIL_REASON" jdbcType="VARCHAR"/>
            <result property="shipingLabel" column="SHIPING_LABEL" jdbcType="VARCHAR"/>
            <result property="isValid" column="IS_VALID" jdbcType="CHAR"/>
            <result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="UPDATE_TIME" jdbcType="TIMESTAMP"/>
            <result property="deleteTime" column="DELETE_TIME" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="CREATE_USER" jdbcType="VARCHAR"/>
            <result property="updateUser" column="UPDATE_USER" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        TENANT_CODE,DOMAIN_CODE,CHANNEL_CODE,
        ORG_CODE,ORDER_EXPRESS_CODE,EXPRESS_CODE,
        ORDER_CODE,EXTERNAL_ORDER_CODE,SUB_ORDER_CODE,
        EXPRESS_STATUS,COMPANY_CODE,COMPANY_NAME,
        SEND_TIME,USER_NAME,USER_CODE,
        LENGTH,WIDTH,HEIGHT,
        WEIGHT,VOLUME,DELIVERY_FAIL_REASON,
        SHIPING_LABEL,IS_VALID,CREATE_TIME,
        UPDATE_TIME,DELETE_TIME,CREATE_USER,
        UPDATE_USER
    </sql>
</mapper>
